# Create Mock Purchase Data

Notes:
- Similar to Superstore dataset
- each excel workbook contains the sales for one store
- each workbook contains the purchases for one team
- each sheet is a different category of purchases (office, materials, etc.)
- lookup table of employees and their employee ID

In [1]:
import requests
import random
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from faker import Faker
fake = Faker()

In [2]:
# generate employee table

def generate_employee():
    employee = {
        "name": fake.name(),
        "employeeid": fake.pyint()
    }
    
    return employee

generate_employee()

{'name': 'Jesse Coleman', 'employeeid': 4619}

In [3]:
get_price = lambda: random.random() * random.choice([25, 50])
get_price()

20.193167323195464

In [4]:
page = requests.get("https://www.theorderexpert.com/the-ultimate-office-supply-checklist/")

soup = BeautifulSoup(page.content, "html.parser")

results = soup.find_all("li")
items = [l.text for l in results][8:184]

catalog = dict(zip(items, [round(get_price(), 2) for x in range(len(items))]))
catalog

{'Printer paper': 10.0,
 'Three-hole punched paper': 13.02,
 'Graph paper': 22.83,
 'Tracing paper': 37.19,
 'Carbon paper': 33.21,
 'Color card stock': 17.21,
 'Heavy-duty card stock': 13.03,
 'Wrapping paper': 17.7,
 'Greeting cards and envelopes': 9.67,
 'Business cards': 0.29,
 'Letterhead': 48.27,
 'Poster board': 19.86,
 '#10 regular envelopes (4 1/8 x 9 1/2 inches)': 9.59,
 'Legal envelopes': 10.0,
 'Manila mailing envelopes': 16.24,
 'Padded legal envelope mailers': 4.46,
 'Mailing labels': 15.8,
 'Return address labels': 39.72,
 'Postage scale': 18.03,
 'Postage stamps': 2.06,
 'Envelope sealer': 10.28,
 'Packaging bubble': 14.77,
 'Cardboard boxes (small, medium, large)': 17.52,
 'Composition notebooks': 17.84,
 'Spiral-bound notebooks': 36.02,
 'Legal pads': 27.51,
 'Steno pads': 5.06,
 'Notepads': 0.78,
 'Planners': 31.23,
 'Binders': 1.61,
 'Binder tabs': 32.68,
 'Binder pockets': 2.5,
 'Binder dividers': 8.83,
 'Binder labels': 2.36,
 'Binder sheet reinforcements': 38.72,
 'Clear binder document holders': 46.03,
 'Hole puncher': 20.78,
 'Three-hole puncher': 21.28,
 'Manila folders': 23.7,
 'File folder labels': 10.41,
 'Hanging folders': 32.06,
 'Folder tabs': 10.17,
 'Stapler': 43.71,
 'Staples': 18.26,
 'Stapler remover': 40.9,
 'Scissors': 12.13,
 'Box cutter': 16.84,
 'Box cutter blades': 16.34,
 'Paperclips (small, medium, large)': 12.0,
 'Binder clips (small, medium, large)': 2.23,
 'Rubber bands (small, medium, large)': 12.68,
 'Clear cellophane tape': 5.35,
 'Clear cellophane tape dispenser': 14.52,
 'Masking tape': 30.36,
 'Packing tape': 17.49,
 'Tape gun': 11.58,
 'Duct tape': 17.63,
 'Twine': 43.6,
 'Sticky notes (small, medium, large)': 12.28,
 'Bookmark sticky flags (small, medium, large)': 12.11,
 'Bookmarks': 20.86,
 'White glue': 22.49,
 'Rubber cement': 2.09,
 'Tacky wall mount gum': 4.57,
 'Hanging hooks': 6.88,
 'Magnifying glass': 6.74,
 'Pencils': 5.15,
 'Pencil sharpener': 19.58,
 'Mechanical pencils': 8.1,
 'Mechanical pencil lead refills': 7.58,
 'Erasers': 1.44,
 'Pens': 42.84,
 'Black all-purpose markers': 14.85,
 'Highlighters': 17.22,
 'Rubber stamps': 8.48,
 'Ink pads': 4.47,
 'Correction fluid': 48.89,
 'Wall calendar': 7.16,
 'Desk calendar': 15.99,
 'Dry/Wet erase board': 7.12,
 'Dry/Wet erase markers': 4.99,
 'Dry/Wet erase spray': 15.91,
 'Ruler': 11.12,
 'Protractor': 6.49,
 'Compass': 14.28,
 'T-square': 17.22,
 'Clipboards': 15.43,
 'Bookends': 49.79,
 'Paperweight': 3.35,
 'Magazine holders': 25.09,
 'Bulletin board': 1.55,
 'Pushpins': 21.63,
 'Letter opener': 7.21,
 'Pen holder': 14.36,
 'In/Out box': 31.02,
 'Document sorter/holder': 37.46,
 'Supply trays and containers': 35.39,
 'Desktop organizers': 10.74,
 'Desk drawer organizers': 35.04,
 'Computer and monitor': 30.9,
 'Keyboard': 12.9,
 'Mouse': 31.71,
 'Mouse pads': 36.23,
 'Monitor stands': 26.02,
 'Wireless router': 11.92,
 'Thumb drives': 18.16,
 'Printer': 35.97,
 'Toner or print cartridges': 5.44,
 'Telephone': 25.88,
 'Speakerphone': 38.47,
 'Headset': 28.5,
 'Calculator': 4.5,
 'Postage meter': 45.0,
 'Projection device': 6.36,
 'Photocopier': 5.63,
 'Digital camera': 9.73,
 'Lamps': 43.99,
 'Lightbulbs': 11.83,
 'Label maker': 15.69,
 'Laminating machine': 9.04,
 'Scanner': 14.4,
 'Fax machine': 45.78,
 'Paper shredder': 45.87,
 'Extension cords': 5.17,
 'Surge protectors': 38.94,
 'Walkie-talkies': 13.66,
 'Hand soap': 7.5,
 'Disinfectant wipes': 13.81,
 'Hand sanitizer': 12.31,
 'Facial tissues': 4.84,
 'Air freshener': 21.73,
 'Computer screen and keyboard cleaner': 0.77,
 'Pressured air (to clean keyboard)': 44.44,
 'Toilet bowl cleaner': 32.49,
 'Floor cleaner': 45.33,
 'Mop': 18.74,
 'Mop bucket': 18.28,
 'Wet floor sign': 15.33,
 'Window cleaner': 9.21,
 'Dishwasher tabs': 9.21,
 'Dishwashing liquid': 0.33,
 'Sponges': 39.31,
 'Paper toweling': 21.23,
 'Broom': 8.09,
 'Dustpan': 30.91,
 'Duster': 33.03,
 'Duster cloths': 16.23,
 'Vacuum cleaner': 4.78,
 'Vacuum cleaner bags': 13.54,
 'Garbage bags': 27.83,
 'Recycling bags': 20.36,
 'Cleaning material cart': 21.74,
 'Cleaning material carrier': 10.98,
 'First-aid kit': 39.39,
 'Flashlight': 13.67,
 'Fire extinguisher': 11.06,
 'Smoke detectors': 21.66,
 'Carbon monoxide detectors': 30.45,
 'Desk': 15.98,
 'Chairs': 17.54,
 'Chair floor mats': 8.94,
 'Filing cabinets': 11.85,
 'Tables': 25.17,
 'Bookcases': 8.82,
 'Shelves': 20.61,
 'Safe': 36.97,
 'Microwave': 8.16,
 'Coffee pot': 16.52,
 'Refrigerator': 48.06,
 'Water cooler': 18.01,
 'Clocks': 14.78,
 'Waste basket': 44.16,
 'Recycling bin': 3.28,
 'Batteries': 20.76,
 'Shredder oil or shredder lubrication sheets': 7.71}

In [69]:
def get_line_item():
    item =

'First-aid kit'

In [98]:
pd.DataFrame({random.choice(list(catalog.items())) for x in range(50)}, columns=["line_item", "price"]).to_excel("dept_C_purchases.xlsx", index=False, sheet_name="Purchases")

# Combine Excel Exercise

In [110]:
dept_a_purchases = pd.read_excel("dept_A_purchases.xlsx")
dept_b_purchases = pd.read_excel("dept_B_purchases.xlsx")
dept_c_purchases = pd.read_excel("dept_C_purchases.xlsx")

dept_c_purchases.head()

                           line_item  price
0                     Vacuum cleaner  49.60
1  Paperclips (small, medium, large)   0.53
2                     Paper toweling  36.11
3                      Rubber cement   8.71
4                      Recycling bin  20.71

In [138]:
summary = pd.DataFrame({
    "Summary": "",
    "Dept A purchases": dept_a_purchases["price"].sum(),
    "Dept B purchases": dept_b_purchases["price"].sum(),
    "Dept C purchases": dept_c_purchases["price"].sum(),
}, index=range(1)).T

summary

                       0
Summary
Dept A purchases   850.8
Dept B purchases  845.67
Dept C purchases  697.48

In [140]:
with pd.ExcelWriter('all_purchases.xlsx') as writer:
    summary.to_excel(writer, sheet_name="Summary")
    dept_a_purchases.to_excel(writer, sheet_name="Dept A")
    dept_b_purchases.to_excel(writer, sheet_name="Dept B")
    dept_c_purchases.to_excel(writer, sheet_name="Dept C")

In [144]:
pd.concat([pd.read_excel(f"dept_{x}_purchases.xlsx") for x in ["A", "B", "C"]])

                                       line_item  price
0            Sticky notes (small, medium, large)  29.44
1                                        Erasers  14.65
2                                     Pen holder  41.55
3                              Fire extinguisher  13.75
4                                  Recycling bin  20.71
..                                           ...    ...
39                      Three-hole punched paper  15.28
40                                         Ruler   4.19
41                                     Bookmarks  16.75
42  #10 regular envelopes (4 1/8 x 9 1/2 inches)   7.20
43                  Greeting cards and envelopes  16.05

[130 rows x 2 columns]

# API Exercise

Dataset: NYC Motor Vehicle Collisions:
https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95

In [9]:
# Request API data as csv

import wget

url_endpoint = "https://data.cityofnewyork.us/resource/h9gi-nx95.csv"

file = wget.download(url=url_endpoint, out="manhattan_crashes.csv")

In [39]:
# Request API data as json

# import requests and pandas packages
import requests
import pandas as pd

# save the JSON API endpoint to a variable
url_endpoint = "https://data.cityofnewyork.us/resource/h9gi-nx95.json"

# use requests.get() to make a GET request to the API endpoint
res = requests.get(url_endpoint)

# parse the JSON data from the API response and save it to a new pandas DataFrame
crashes = pd.DataFrame(res.json())
crashes["crash_date"] = pd.to_datetime(crashes["crash_date"])

# filter on all of the crash records that took place in the borough of Manhattan.
manhattan_crashes = crashes[crashes["borough"] == "MANHATTAN"]

# save the dataframe to a new csv file
# manhattan_crashes.to_csv("manhattan_crashes.csv")


# crashes[
#     (crashes["borough"] == "MANHATTAN") &
#     (crashes["crash_date"] >= "2022-01-01")
# ].to_csv("manhattan_crashes.csv")

In [45]:
res.__str__

In [55]:
crashes.dtypes

crash_date                       datetime64[ns]
crash_time                               object
on_street_name                           object
off_street_name                          object
number_of_persons_injured                object
number_of_persons_killed                 object
number_of_pedestrians_injured            object
number_of_pedestrians_killed             object
number_of_cyclist_injured                object
number_of_cyclist_killed                 object
number_of_motorist_injured               object
number_of_motorist_killed                object
contributing_factor_vehicle_1            object
contributing_factor_vehicle_2            object
collision_id                             object
vehicle_type_code1                       object
vehicle_type_code2                       object
borough                                  object
zip_code                                 object
latitude                                 object
longitude                                object
location                                 object
cross_street_name                        object
contributing_factor_vehicle_3            object
vehicle_type_code_3                      object
contributing_factor_vehicle_4            object
vehicle_type_code_4                      object
contributing_factor_vehicle_5            object
vehicle_type_code_5                      object
dtype: object

In [18]:
[col for col in crashes.columns if "killed" in col]

['number_of_persons_killed',
 'number_of_pedestrians_killed',
 'number_of_cyclist_killed',
 'number_of_motorist_killed']

In [28]:
f = filter(lambda x: "killed" in x or "injured" in x, crashes.columns)
[*f]

['number_of_persons_injured',
 'number_of_persons_killed',
 'number_of_pedestrians_injured',
 'number_of_pedestrians_killed',
 'number_of_cyclist_injured',
 'number_of_cyclist_killed',
 'number_of_motorist_injured',
 'number_of_motorist_killed']

# Webscraping

In [46]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

url = "https://www.scrapethissite.com/pages/simple/"
page = requests.get(url)

soup = BeautifulSoup(page.content, "html.parser")

countries = soup.find_all("div", {"class":"col-md-4 country"})
# [i.find("h3").text.strip() for i in x]

data = [{
    "country_name": country.find("h3").text.strip(),
    "country_capital": country.find("span", {"class": "country-capital"}).text,
    "country_population": country.find("span", {"class": "country-population"}).text
} for country in countries]

country_df = pd.DataFrame(data)
country_df.to_csv("countries.csv")

             country_name   country_capital country_population
0                 Andorra  Andorra la Vella              84000
1    United Arab Emirates         Abu Dhabi            4975593
2             Afghanistan             Kabul           29121286
3     Antigua and Barbuda        St. John's              86754
4                Anguilla        The Valley              13254
..                    ...               ...                ...
245                 Yemen             Sanaa           23495361
246               Mayotte         Mamoudzou             159042
247          South Africa          Pretoria           49000000
248                Zambia            Lusaka           13460305
249              Zimbabwe            Harare           11651858

[250 rows x 3 columns]

In [37]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

url = "https://www.scrapethissite.com/pages/simple/"
page = requests.get(url)

soup = BeautifulSoup(page.content, "html.parser")

countries = soup.find_all("div", {"class":"col-md-4 country"})

for country in countries:
    name = country.find("h3").text.strip()
    capital = country.find("span", {"class":"country-capital"}).text
    
    print("Country: ", name)
    print("Capital: ", capital)
    print("---")

Country:  Andorra
Capital:  Andorra la Vella
---
Country:  United Arab Emirates
Capital:  Abu Dhabi
---
Country:  Afghanistan
Capital:  Kabul
---
Country:  Antigua and Barbuda
Capital:  St. John's
---
Country:  Anguilla
Capital:  The Valley
---
Country:  Albania
Capital:  Tirana
---
Country:  Armenia
Capital:  Yerevan
---
Country:  Angola
Capital:  Luanda
---
Country:  Antarctica
Capital:  None
---
Country:  Argentina
Capital:  Buenos Aires
---
Country:  American Samoa
Capital:  Pago Pago
---
Country:  Austria
Capital:  Vienna
---
Country:  Australia
Capital:  Canberra
---
Country:  Aruba
Capital:  Oranjestad
---
Country:  Åland
Capital:  Mariehamn
---
Country:  Azerbaijan
Capital:  Baku
---
Country:  Bosnia and Herzegovina
Capital:  Sarajevo
---
Country:  Barbados
Capital:  Bridgetown
---
Country:  Bangladesh
Capital:  Dhaka
---
Country:  Belgium
Capital:  Brussels
---
Country:  Burkina Faso
Capital:  Ouagadougou
---
Country:  Bulgaria
Capital:  Sofia
---
Country:  Bahrain
Capital:  Manama
---
Country:  Burundi
Capital:  Bujumbura
---
Country:  Benin
Capital:  Porto-Novo
---
Country:  Saint Barthélemy
Capital:  Gustavia
---
Country:  Bermuda
Capital:  Hamilton
---
Country:  Brunei
Capital:  Bandar Seri Begawan
---
Country:  Bolivia
Capital:  Sucre
---
Country:  Bonaire
Capital:  Kralendijk
---
Country:  Brazil
Capital:  Brasília
---
Country:  Bahamas
Capital:  Nassau
---
Country:  Bhutan
Capital:  Thimphu
---
Country:  Bouvet Island
Capital:  None
---
Country:  Botswana
Capital:  Gaborone
---
Country:  Belarus
Capital:  Minsk
---
Country:  Belize
Capital:  Belmopan
---
Country:  Canada
Capital:  Ottawa
---
Country:  Cocos [Keeling] Islands
Capital:  West Island
---
Country:  Democratic Republic of the Congo
Capital:  Kinshasa
---
Country:  Central African Republic
Capital:  Bangui
---
Country:  Republic of the Congo
Capital:  Brazzaville
---
Country:  Switzerland
Capital:  Bern
---
Country:  Ivory Coast
Capital:  Yamoussoukro
---
Country:  Cook Islands
Capital:  Avarua
---
Country:  Chile
Capital:  Santiago
---
Country:  Cameroon
Capital:  Yaoundé
---
Country:  China
Capital:  Beijing
---
Country:  Colombia
Capital:  Bogotá
---
Country:  Costa Rica
Capital:  San José
---
Country:  Cuba
Capital:  Havana
---
Country:  Cape Verde
Capital:  Praia
---
Country:  Curacao
Capital:  Willemstad
---
Country:  Christmas Island
Capital:  Flying Fish Cove
---
Country:  Cyprus
Capital:  Nicosia
---
Country:  Czech Republic
Capital:  Prague
---
Country:  Germany
Capital:  Berlin
---
Country:  Djibouti
Capital:  Djibouti
---
Country:  Denmark
Capital:  Copenhagen
---
Country:  Dominica
Capital:  Roseau
---
Country:  Dominican Republic
Capital:  Santo Domingo
---
Country:  Algeria
Capital:  Algiers
---
Country:  Ecuador
Capital:  Quito
---
Country:  Estonia
Capital:  Tallinn
---
Country:  Egypt
Capital:  Cairo
---
Country:  Western Sahara
Capital:  Laâyoune / El Aaiún
---
Country:  Eritrea
Capital:  Asmara
---
Country:  Spain
Capital:  Madrid
---
Country:  Ethiopia
Capital:  Addis Ababa
---
Country:  Finland
Capital:  Helsinki
---
Country:  Fiji
Capital:  Suva
---
Country:  Falkland Islands
Capital:  Stanley
---
Country:  Micronesia
Capital:  Palikir
---
Country:  Faroe Islands
Capital:  Tórshavn
---
Country:  France
Capital:  Paris
---
Country:  Gabon
Capital:  Libreville
---
Country:  United Kingdom
Capital:  London
---
Country:  Grenada
Capital:  St. George's
---
Country:  Georgia
Capital:  Tbilisi
---
Country:  French Guiana
Capital:  Cayenne
---
Country:  Guernsey
Capital:  St Peter Port
---
Country:  Ghana
Capital:  Accra
---
Country:  Gibraltar
Capital:  Gibraltar
---
Country:  Greenland
Capital:  Nuuk
---
Country:  Gambia
Capital:  Bathurst
---
Country:  Guinea
Capital:  Conakry
---
Country:  Guadeloupe
Capital:  Basse-Terre
---
Country:  Equatorial Guinea
Capital:  Malabo
---
Country:  Greece
Capital:  Athens
---
Country:  South Georgia and the South Sandwich Islands
Capital:  Grytviken
---
Country:  Guatemala
Capital:  Guatemala City
---
Country:  Guam
Capital:  Hagåtña
---
Country:  Guinea-Bissau
Capital:  Bissau
---
Country:  Guyana
Capital:  Georgetown
---
Country:  Hong Kong
Capital:  Hong Kong
---
Country:  Heard Island and McDonald Islands
Capital:  None
---
Country:  Honduras
Capital:  Tegucigalpa
---
Country:  Croatia
Capital:  Zagreb
---
Country:  Haiti
Capital:  Port-au-Prince
---
Country:  Hungary
Capital:  Budapest
---
Country:  Indonesia
Capital:  Jakarta
---
Country:  Ireland
Capital:  Dublin
---
Country:  Israel
Capital:  None
---
Country:  Isle of Man
Capital:  Douglas
---
Country:  India
Capital:  New Delhi
---
Country:  British Indian Ocean Territory
Capital:  None
---
Country:  Iraq
Capital:  Baghdad
---
Country:  Iran
Capital:  Tehran
---
Country:  Iceland
Capital:  Reykjavik
---
Country:  Italy
Capital:  Rome
---
Country:  Jersey
Capital:  Saint Helier
---
Country:  Jamaica
Capital:  Kingston
---
Country:  Jordan
Capital:  Amman
---
Country:  Japan
Capital:  Tokyo
---
Country:  Kenya
Capital:  Nairobi
---
Country:  Kyrgyzstan
Capital:  Bishkek
---
Country:  Cambodia
Capital:  Phnom Penh
---
Country:  Kiribati
Capital:  Tarawa
---
Country:  Comoros
Capital:  Moroni
---
Country:  Saint Kitts and Nevis
Capital:  Basseterre
---
Country:  North Korea
Capital:  Pyongyang
---
Country:  South Korea
Capital:  Seoul
---
Country:  Kuwait
Capital:  Kuwait City
---
Country:  Cayman Islands
Capital:  George Town
---
Country:  Kazakhstan
Capital:  Astana
---
Country:  Laos
Capital:  Vientiane
---
Country:  Lebanon
Capital:  Beirut
---
Country:  Saint Lucia
Capital:  Castries
---
Country:  Liechtenstein
Capital:  Vaduz
---
Country:  Sri Lanka
Capital:  Colombo
---
Country:  Liberia
Capital:  Monrovia
---
Country:  Lesotho
Capital:  Maseru
---
Country:  Lithuania
Capital:  Vilnius
---
Country:  Luxembourg
Capital:  Luxembourg
---
Country:  Latvia
Capital:  Riga
---
Country:  Libya
Capital:  Tripoli
---
Country:  Morocco
Capital:  Rabat
---
Country:  Monaco
Capital:  Monaco
---
Country:  Moldova
Capital:  Chişinău
---
Country:  Montenegro
Capital:  Podgorica
---
Country:  Saint Martin
Capital:  Marigot
---
Country:  Madagascar
Capital:  Antananarivo
---
Country:  Marshall Islands
Capital:  Majuro
---
Country:  Macedonia
Capital:  Skopje
---
Country:  Mali
Capital:  Bamako
---
Country:  Myanmar [Burma]
Capital:  Naypyitaw
---
Country:  Mongolia
Capital:  Ulan Bator
---
Country:  Macao
Capital:  Macao
---
Country:  Northern Mariana Islands
Capital:  Saipan
---
Country:  Martinique
Capital:  Fort-de-France
---
Country:  Mauritania
Capital:  Nouakchott
---
Country:  Montserrat
Capital:  Plymouth
---
Country:  Malta
Capital:  Valletta
---
Country:  Mauritius
Capital:  Port Louis
---
Country:  Maldives
Capital:  Malé
---
Country:  Malawi
Capital:  Lilongwe
---
Country:  Mexico
Capital:  Mexico City
---
Country:  Malaysia
Capital:  Kuala Lumpur
---
Country:  Mozambique
Capital:  Maputo
---
Country:  Namibia
Capital:  Windhoek
---
Country:  New Caledonia
Capital:  Noumea
---
Country:  Niger
Capital:  Niamey
---
Country:  Norfolk Island
Capital:  Kingston
---
Country:  Nigeria
Capital:  Abuja
---
Country:  Nicaragua
Capital:  Managua
---
Country:  Netherlands
Capital:  Amsterdam
---
Country:  Norway
Capital:  Oslo
---
Country:  Nepal
Capital:  Kathmandu
---
Country:  Nauru
Capital:  Yaren
---
Country:  Niue
Capital:  Alofi
---
Country:  New Zealand
Capital:  Wellington
---
Country:  Oman
Capital:  Muscat
---
Country:  Panama
Capital:  Panama City
---
Country:  Peru
Capital:  Lima
---
Country:  French Polynesia
Capital:  Papeete
---
Country:  Papua New Guinea
Capital:  Port Moresby
---
Country:  Philippines
Capital:  Manila
---
Country:  Pakistan
Capital:  Islamabad
---
Country:  Poland
Capital:  Warsaw
---
Country:  Saint Pierre and Miquelon
Capital:  Saint-Pierre
---
Country:  Pitcairn Islands
Capital:  Adamstown
---
Country:  Puerto Rico
Capital:  San Juan
---
Country:  Palestine
Capital:  None
---
Country:  Portugal
Capital:  Lisbon
---
Country:  Palau
Capital:  Melekeok
---
Country:  Paraguay
Capital:  Asunción
---
Country:  Qatar
Capital:  Doha
---
Country:  Réunion
Capital:  Saint-Denis
---
Country:  Romania
Capital:  Bucharest
---
Country:  Serbia
Capital:  Belgrade
---
Country:  Russia
Capital:  Moscow
---
Country:  Rwanda
Capital:  Kigali
---
Country:  Saudi Arabia
Capital:  Riyadh
---
Country:  Solomon Islands
Capital:  Honiara
---
Country:  Seychelles
Capital:  Victoria
---
Country:  Sudan
Capital:  Khartoum
---
Country:  Sweden
Capital:  Stockholm
---
Country:  Singapore
Capital:  Singapore
---
Country:  Saint Helena
Capital:  Jamestown
---
Country:  Slovenia
Capital:  Ljubljana
---
Country:  Svalbard and Jan Mayen
Capital:  Longyearbyen
---
Country:  Slovakia
Capital:  Bratislava
---
Country:  Sierra Leone
Capital:  Freetown
---
Country:  San Marino
Capital:  San Marino
---
Country:  Senegal
Capital:  Dakar
---
Country:  Somalia
Capital:  Mogadishu
---
Country:  Suriname
Capital:  Paramaribo
---
Country:  South Sudan
Capital:  Juba
---
Country:  São Tomé and Príncipe
Capital:  São Tomé
---
Country:  El Salvador
Capital:  San Salvador
---
Country:  Sint Maarten
Capital:  Philipsburg
---
Country:  Syria
Capital:  Damascus
---
Country:  Swaziland
Capital:  Mbabane
---
Country:  Turks and Caicos Islands
Capital:  Cockburn Town
---
Country:  Chad
Capital:  N'Djamena
---
Country:  French Southern Territories
Capital:  Port-aux-Français
---
Country:  Togo
Capital:  Lomé
---
Country:  Thailand
Capital:  Bangkok
---
Country:  Tajikistan
Capital:  Dushanbe
---
Country:  Tokelau
Capital:  None
---
Country:  East Timor
Capital:  Dili
---
Country:  Turkmenistan
Capital:  Ashgabat
---
Country:  Tunisia
Capital:  Tunis
---
Country:  Tonga
Capital:  Nuku'alofa
---
Country:  Turkey
Capital:  Ankara
---
Country:  Trinidad and Tobago
Capital:  Port of Spain
---
Country:  Tuvalu
Capital:  Funafuti
---
Country:  Taiwan
Capital:  Taipei
---
Country:  Tanzania
Capital:  Dodoma
---
Country:  Ukraine
Capital:  Kiev
---
Country:  Uganda
Capital:  Kampala
---
Country:  U.S. Minor Outlying Islands
Capital:  None
---
Country:  United States
Capital:  Washington
---
Country:  Uruguay
Capital:  Montevideo
---
Country:  Uzbekistan
Capital:  Tashkent
---
Country:  Vatican City
Capital:  Vatican City
---
Country:  Saint Vincent and the Grenadines
Capital:  Kingstown
---
Country:  Venezuela
Capital:  Caracas
---
Country:  British Virgin Islands
Capital:  Road Town
---
Country:  U.S. Virgin Islands
Capital:  Charlotte Amalie
---
Country:  Vietnam
Capital:  Hanoi
---
Country:  Vanuatu
Capital:  Port Vila
---
Country:  Wallis and Futuna
Capital:  Mata-Utu
---
Country:  Samoa
Capital:  Apia
---
Country:  Kosovo
Capital:  Pristina
---
Country:  Yemen
Capital:  Sanaa
---
Country:  Mayotte
Capital:  Mamoudzou
---
Country:  South Africa
Capital:  Pretoria
---
Country:  Zambia
Capital:  Lusaka
---
Country:  Zimbabwe
Capital:  Harare
---

In [31]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

url = "https://www.scrapethissite.com/pages/forms/"
page = requests.get(url)

soup = BeautifulSoup(page.content, "html.parser")

hockey = pd.read_html(soup.find("table").prettify())[0]

hockey.to_csv("hockey.csv")

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,NaN,0.550,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,0.388,292,278,14
2,Calgary Flames,1990,46,26,NaN,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,0.425,273,298,-25
5,Edmonton Oilers,1990,37,37,NaN,0.463,272,272,0
6,Hartford Whalers,1990,31,38,NaN,0.388,238,276,-38
7,Los Angeles Kings,1990,46,24,NaN,0.575,340,254,86
8,Minnesota North Stars,1990,27,39,NaN,0.338,256,266,-10
9,Montreal Canadiens,1990,39,30,NaN,0.487,273,249,24
10,New Jersey Devils,1990,32,33,NaN,0.400,272,264,8
11,New York Islanders,1990,25,45,NaN,0.312,223,290,-67
12,New York Rangers,1990,36,31,NaN,0.450,297,265,32
13,Philadelphia Flyers,1990,33,37,NaN,0.412,252,267,-15
14,Pittsburgh Penguins,1990,41,33,NaN,0.512,342,305,37
15,Quebec Nordiques,1990,16,50,NaN,0.200,236,354,-118
16,St. Louis Blues,1990,47,22,NaN,0.588,310,250,60
17,Toronto Maple Leafs,1990,23,46,NaN,0.287,241,318,-77
18,Vancouver Canucks,1990,28,43,NaN,0.350,243,315,-72
19,Washington Capitals,1990,37,36,NaN,0.463,258,258,0
20,Winnipeg Jets,1990,26,43,NaN,0.325,260,288,-28
21,Boston Bruins,1991,36,32,NaN,0.450,270,275,-5
22,Buffalo Sabres,1991,31,37,NaN,0.388,289,299,-10
23,Calgary Flames,1991,31,37,NaN,0.388,296,305,-9
24,Chicago Blackhawks,1991,36,29,NaN,0.450,257,236,21